/* -----------------------------------------------------------------------------
 *                 __  __                      ___       __
 *                / / / /_  ______  ___  _____/ (_)___  / /_______
 *               / /_/ / / / / __ \/ _ \/ ___/ / / __ \/ //_/ ___/
 *              / __  / /_/ / /_/ /  __/ /  / / / / / / ,< (__  )
 *             /_/ /_/\__, / .___/\___/_/  /_/_/_/ /_/_/|_/____/
 *                   /____/_/
 * ---------------------------------------------------------------------------*/

a {
    color: $link-color;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    transition: all .2s linear;
    a:visited {
        color: $link-color;
    }
    &:hover, &:focus {
        color: $link-focus;
    }
}