table, .table {
    margin: 0 0 1.618em;
    width: 100%;
    max-width: 100%;
    border-radius: 2px;
    border-collapse: collapse;
    border-spacing: 0;
    th {
        padding: 1em;
        font-size: 1.1em;
        background: #fafafc;
        border: 1px solid #ddd;
    }
    td {
        padding: 1em;
        line-height: 1.4;
        vertical-align: middle;
        border: 1px solid #ddd;
    }
}